:root{
    font-size: calc(0.5vw + 1em);
    --backgroundcolor-darker:hsla(242, 39%, 15%, 1);
    --backgroundcolor-lighter-search-card:hsla(242, 35%, 18%, 1);
    --menu-active:hsla(242, 34%, 22%, 1);
    --balance-border:hsla(215, 96%, 58%, 1);
    --font-color-faint:hsla(228, 24%, 57%, 1);
    --font-color-green:hsla(166, 48%, 63%, 1);
}
/* ///////////////////////////
standards 
////////////////////////// */
*,::after,::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: "poppins";
    color: white;
    transition: all 500ms;
}
a{
    color: inherit;
    text-decoration: none;
}
a img{
    width: 1rem;
    filter: invert(55%) sepia(54%) saturate(264%) hue-rotate(190deg) brightness(84%) contrast(82%);
}
img{
    width: 1rem;
}

/* ///////////////////////////
sections layout
////////////////////////// */
.wrapper{
    display: grid;
    grid-template-columns: 1.425fr 4.184fr 1.9fr;
    height: 100vh;
}
.section1{
    background-color: var(--backgroundcolor-lighter-search-card);
}
.section2{
background-color: var(--backgroundcolor-darker);
}
.section3{
    background-color: var(--backgroundcolor-lighter-search-card);
}
/* ///////////////////////////
section one
////////////////////////// */
.section1wrapper{
 margin:1.4em 1em;
}
.s1header{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}
.s1header img{
    width: 1.6em;
    margin-right:0.5em ;
}
.s1menus a{
    display: flex;
    gap: 10px;
    padding: 0.5em;
    font-size: 0.8rem;
    color: var(--font-color-faint);
    transform: scale(1);
}
.s1menus a:hover{
    background-color: var(--menu-active);
    border-radius: 0.25em;
    color: white;
    transform: scale(1.02);
}
.s1menus a:hover img{
    filter: brightness(0) invert(1);
    transform: scale(1.02);
}
/* ///////////////////////////
section three
////////////////////////// */
.section3wrapper{
    padding: 1.4em 1.3em;
}
.topicons3{
    font-size: 0.8em;
    display: flex;
    justify-content: end;
    gap: 2em;
}
.profile{
    display: flex;
    align-items: center;
    gap: 0.4em;
}
.balancebox{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    border: var(--balance-border) 1px solid;
    padding: 1.3rem 0 1.5rem 1.3rem;
    margin-top: 1.9rem;
    border-radius: 0.5rem 0.5rem 1rem 1rem;
    border-bottom: 0.9rem var(--balance-border) solid;
}
.tbalance{
    color: var(--font-color-faint);
    font-size: 1rem;
}
.balance{
    font-size: 1.5rem;
}
.btc{
    font-size: 0.8rem;
    color: var(--font-color-faint);
}
.percent{
    font-size: 0.5rem;
    color: var(--font-color-green);
    background-color: hsla(166, 48%, 63%, 0.2);
    padding: 0em 0.4em;
    width: fit-content;
    border-radius: 0.5em;
}
.l-activities{
    margin-top: 3em;
}
.activity{
    display: flex;
    gap: 0.6em;
  
}
.activityno{
    display: flex;
    gap: 2.3em;
    padding:0.5rem 0;
    border-top:0.1px hsla(166, 48%, 63%, 0.096) solid ;
}
.activityn{
    display: flex;
    gap: 2.3em;
    padding:0.5rem 0;
}
.one{
    border-top: none;
}
.actnos{
    display: flex;
    flex-direction: column;
}
.actno1,.actno3{
    font-size: 0.8em;
}
.actno2{
    font-size: 0.55em;
    color: var(--font-color-green);
}
.actdate{
    font-size: 0.55em;
    color: var(--font-color-faint);
}
.activity img{
    width: 1.3rem;
}
.activitieslist{
    height: 15rem;
    overflow-y: scroll;
}
/* ///////////////////////////
section two
////////////////////////// */
.section2wrapper{
    display: grid;
    grid-template-columns: repeat(8,1fr);
}
.s2header{
    display: flex;
    justify-content: space-between;
    padding: 1.3em 1.5em;
    align-items: center;
    grid-column: 1/9;
}
.s2header div{
    font-size: 1.2em;
}
.s2header span{
    position: relative;
}
.s2header input{
    background-color: var(--backgroundcolor-lighter-search-card);
    border: none;
    border-radius: 0.3em;
    width: 10rem;
    height: 1.7rem;
    color: var(--font-color-faint);
    padding-left: 2.5em;
    font-size: 0.6em;
}
.s2header img{
    position: absolute;
    left: 7px;
    top: 7px;
    width: 0.9em;

}
.main-chart{
    grid-column: 2/8;
    grid-row: 3;
}


